REDIS_HOST=localhost:6379
REDIS_PW=
REDIS_DB=0
PORT=3000
MASTER_TOKEN_FILE=./data/master-token
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
SHUTDOWN_TIMEOUT=10s
BACKEND_TIMEOUT=5s
